<IfModule mod_rewrite.c>
    RewriteEngine On

    # Autoriser le header Authorization pour les tokens (Sanctum/Passport)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Redirige toutes les requêtes vers index.php si elles ne sont pas des fichiers ou dossiers réels
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
